.landing {
  background-color: rgb(45, 47, 61);
  height: 100vh;
  overflow: hidden; /* think about me when mobile broken */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.landing__elements {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 85px;
}

.landing__elements-welcome {
  padding: 3rem 5rem;
  color: #373a47;
  height: 300px;
  position: relative;
  z-index: 2;
}

.landing__elements-welcome img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.welcome__signup-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.4em;
  color: #282828;
  z-index: 0;
  padding: 5px 24px 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  background-color: inherit;
  outline: none !important;
  margin-top: 25px;
}

.welcome__signup-link:before {
  content: "";
  display: block;
  width: 84%;
  height: 125%;
  position: absolute;
  bottom: -5px;
  right: 0;
  z-index: -1;
  background-color: #d4c6e6;
  transition: all 0.3s ease;
}

.welcome__signup-link:after {
  content: "";
  display: block;
  background-image: url(https://www.cssdesignawards.com/imgs/arrow-right.svg);
  background-size: 100% 100%;
  background-position: center center;
  width: 22px;
  height: 6px;
  position: absolute;
  right: -12px;
  top: 50%;
  margin-top: -3px;
  transition: all 100ms ease;
}

.welcome__signup-link:hover:before {
  height: 25%;
}

.welcome__signup-link:active:after {
  right: -15px;
}

.landing__elements-weather {
  display: grid;
  grid-template-areas:
    "snowfall"
    "temp";
  align-content: center;
  grid-gap: 1em;
  text-align: center;
  font-size: 40px;
  color: #eeeded;
}

.landing__elements-weather__value {
  margin-bottom: 0.25rem;
  font-size: 28px;
}
.landing__elements-weath__label {
  font-size: 12px;
}
