
html {
  background: url("https://user-images.githubusercontent.com/43125443/104487592-8929d500-558a-11eb-9d20-e2c5af1767f0.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing__elements{
  display: grid;
  grid-template-columns: (3fr, 1fr);
}

.landing__elements-welcome{
  margin: 10px, 10px;
  padding: 3rem;
  color: #373a47;
  max-width: 800px;
  height: 400px;

  background: url("https://user-images.githubusercontent.com/43125443/104488219-4ae0e580-558b-11eb-9874-7a8d9a53a2ee.png")
}

.welcome__signup-button{
  font: inherit;
  color:  #373a47;
  background-color: var(--light-blue);
  border-radius: 0.5em;
  border: none;
  box-shadow: lightgrey;
  width: 150px;
  height: 40px;
}