.my-friends {
  max-width: 720px;
  margin: 2rem auto;
}

.my-friends__header {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.my-friends .my-friends__header h1 {
  font-size: 28px;
  line-height: 32px;
  margin: 0 0.5rem 0 0;
}

.my-friends__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.my-friends__list__item {
  margin: 0;
  padding: 1.15rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px;
  background-color: #fff;
  width: 100%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "image text";
  grid-column-gap: 3rem;
}

.my-friends__list__item:not(:first-of-type) {
  margin-top: 1rem;
}

.picture-frame {
  background-color: #fafafa;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 150px; /* TODO: add media query to resize image ..? */
  height: 150px; /* TODO: add media query to resize image ..? */
}

.profile-pic {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: cover;
}

.my-friends__list__item .picture-frame {
  grid-area: image;
}

.my-friends__list__item .text {
  grid-area: text;
}

.add-friend-form {
  margin-bottom: 2rem;
}

.add-friend-form__fields {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
}

.add-friend-form__fields .AsyncSelect {
  min-width: 280px;
}

.add-friend-form__actions {
  margin-left: 1rem;
}
