.my-friends {
  max-width: 720px;
  margin: 2rem auto;
}

.my-friends__header {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
}

.my-friends .my-friends__header h1 {
  font-size: 28px;
  line-height: 32px;
  margin: 0 0.5rem 0 0;
}

.add-friend-form {
}

.add-friend-form__fields {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
}

.add-friend-form__fields .AsyncSelect {
  min-width: 280px;
}

.add-friend-form__actions {
  margin-left: 1rem;
}
