.plan-page {
  max-width: 960px;
  width: 100%;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.plan-page__details {
}

.weather-grid table {
  width: 100%;
  text-align: center;
  margin: 0 auto 0 0;
  max-width: 400px;
}

.plan-page__route header {
  display: flex;
  align-items: center;
}

.plan-page__route header h3 {
  margin-right: 1rem;
}

.plan-page__route .avy-problems-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.plan-page__route .avy-problems-list .avy-problems-list__item {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
  margin-bottom: 1rem;
  padding: 1.15rem;
  background-color: #fff;
  box-shadow: var(--box-shadow);
}
