#background{
  background: linear-gradient(90deg, var(--light-green) 30%, white 70%);
}
.route{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.route__form{
  background-color: #EEEDED;
  padding: 1.5em;
  margin-top: 3em;
  margin-right: 3em;
  box-shadow: 21px 14px 33px grey;
}

.route__form-map{
  margin-top: 3em;
  box-shadow: 21px 14px 33px grey;
}