html,
body {
  margin: 0;
}

/* TODO Add site wide styles */
body {
  --light-blue: #b5c2db;
  --light-green: #a3bfc0;
  --light-purple: #d4c6e6;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  background: #fafbfb;
}

#root {
  height: 100%;
}

/* no dark purple if visited -- especially for menu */
a:visited {
  color: inherit;
}

/* form styling */
label {
  font-weight: bold;
}

.input-container.input-container--checkbox label,
.input-container.input-container--radio label {
  font-weight: normal;
}

input,
textarea {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
textarea {
  padding: 6px;
  line-height: 1.15;
}
